/* This is how you link custom fonts to the game*/
			
@font-face {
	font-family: "Modern Sans";
	src: url("../fonts/ModernSans-Light.otf") format("opentype");
}

@font-face {
	font-family: "Secret Code";
	src: url("../fonts/Secret_Code.ttf");
}

@font-face {
	font-family: "Roboto Th";
	src: url("../fonts/Roboto_Thin.ttf");
}
